
@font-face {
    font-family: SolPro;
    src: url(../assets/Fonts/SolPro-Bold.ttf);
}
@font-face {
    font-family: Stylish;
    src: url(../assets/Fonts/Motterdam-K74zp.ttf);
}

.nav-head {
    background-color: #233D4D;
    box-shadow: 0px -41px 18px 41px rgba(0,0,0,0.73);
    position: absolute;
    width: 100vw;
}


.brandName {
    font-family: Stylish;
    font-size: 35px;
    margin: auto;
    color: #FBE9D0;
    text-shadow: 6px 3px 7px rgba(253,155,0,0.52);
}

.nav-menu {
    color: #619B8A;
    font-family: SolPro;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
}
.nav-menu-addOn {
    color: #619B8A;
    font-family: SolPro;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 100px;
    text-align: center;
    animation: slideInFromTop .4s ease-in-out;
    display: inline-block;
}
.nav-menu:hover {
    border-radius: 8px 15px 8px 15px;
    background-color: #A1C181;
    color: #FFFFFF;
    transition: .4s;
    animation-name: menu;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.nav-menu-addOn:hover {
    border-radius: 8px 15px 8px 15px;
    background-color: #A1C181;
    color: #FFFFFF;
    transition: .4s;
    animation-name: menu;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/* For Hover Transistion */
@keyframes menu {
  from {font-size: 20px;}
  to {font-size: 21px;}
}

/* For Skills/Services */
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
  }
}

.socials {
    margin: auto;
}
.socials img {
    margin-right: 20px;
}
.socials :hover {
    animation-name: socials;
    animation-duration: .4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes socials {
  from {transform: scale(1) rotate(-20deg);}
  to {transform: scale(1.3) rotate(20deg);}
}

.nav-toggle {
    color: transparent;
}

/* RESPONSIVENESS */
@media (min-width: 992px) {
    .socials {
        width: 200px;
        margin-left: 100px;
        padding-left: 50px;
    }
    
    .nav-menu {
        margin-right: 10px;
    }
    .nav-head {
        height: 60px;
    }

    .brandName {
        width: 400px;
    }
}

@media (max-width: 991px) {
    .nav-menu-addOn {
        text-align: left;
        width: 100vw;
    }


    .brandName {
        font-size: 25px;
    }
}