@font-face {
  font-family: SolPro;
  src: url(../../assets/Fonts/SolPro-Bold.ttf);
}
@font-face {
  font-family: Arnaud;
  src: url(../../assets/Fonts/Arnaud-Regular.otf);
}


.skill-section h2 {
  padding-top: 10px;
}
.skills h2 {
  margin-left: 30px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 50px;
}
.skill-image {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
.skill-image img {
  display: block;
  margin: auto;
}
.skill-image p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: Arnaud;
  font-weight: bolder;
  color: #000000;
  text-align: center;
}
.rating {
  display: flex;
  justify-content: center;
}
.rating img {
  margin: 0px;
}

.services {
  padding-bottom: 30px;

}

.services h2 {
  padding-left: 40px;
}

.serviceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.offer {
  color: #000000;
  margin-top: 20px;
  margin-left: 70px;
  font-family: Arnaud;
  font-size: 25px;
}

@media (max-width: 767px) {
  .react {
    display: none;
  }
  .javascript {
    display: none;
  }

  .skill-section h2 {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .services h2 {
    margin-left: 20px;
    padding: 10px;
  }
  .offer {
    margin-left: 30px;
  }

  .skill-container {
    margin: 10px 20px;
  }

}

@media (max-width: 995px) {
  
}

@media (min-width: 995px) {
  
}