* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color:  #233D4D;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 767px) {
    body {
        overflow-y: scroll;
    }
}

@media (min-width: 995px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}